In [1]:
import warnings
warnings.filterwarnings('ignore')

In [2]:
import numpy as np
import pandas as pd
from pathlib import Path
from collections import Counter

In [5]:
from sklearn.metrics import balanced_accuracy_score
from sklearn.metrics import confusion_matrix
from imblearn.metrics import classification_report_imbalanced
from sklearn.preprocessing import StandardScaler
from imblearn.ensemble import BalancedRandomForestClassifier

# Read the CSV and Perform Basic Data Cleaning

In [6]:
# https://help.lendingclub.com/hc/en-us/articles/215488038-What-do-the-different-Note-statuses-mean-

columns = [
    "loan_amnt", "int_rate", "installment", "home_ownership",
    "annual_inc", "verification_status", "issue_d", "loan_status",
    "pymnt_plan", "dti", "delinq_2yrs", "inq_last_6mths",
    "open_acc", "pub_rec", "revol_bal", "total_acc",
    "initial_list_status", "out_prncp", "out_prncp_inv", "total_pymnt",
    "total_pymnt_inv", "total_rec_prncp", "total_rec_int", "total_rec_late_fee",
    "recoveries", "collection_recovery_fee", "last_pymnt_amnt", "next_pymnt_d",
    "collections_12_mths_ex_med", "policy_code", "application_type", "acc_now_delinq",
    "tot_coll_amt", "tot_cur_bal", "open_acc_6m", "open_act_il",
    "open_il_12m", "open_il_24m", "mths_since_rcnt_il", "total_bal_il",
    "il_util", "open_rv_12m", "open_rv_24m", "max_bal_bc",
    "all_util", "total_rev_hi_lim", "inq_fi", "total_cu_tl",
    "inq_last_12m", "acc_open_past_24mths", "avg_cur_bal", "bc_open_to_buy",
    "bc_util", "chargeoff_within_12_mths", "delinq_amnt", "mo_sin_old_il_acct",
    "mo_sin_old_rev_tl_op", "mo_sin_rcnt_rev_tl_op", "mo_sin_rcnt_tl", "mort_acc",
    "mths_since_recent_bc", "mths_since_recent_inq", "num_accts_ever_120_pd", "num_actv_bc_tl",
    "num_actv_rev_tl", "num_bc_sats", "num_bc_tl", "num_il_tl",
    "num_op_rev_tl", "num_rev_accts", "num_rev_tl_bal_gt_0",
    "num_sats", "num_tl_120dpd_2m", "num_tl_30dpd", "num_tl_90g_dpd_24m",
    "num_tl_op_past_12m", "pct_tl_nvr_dlq", "percent_bc_gt_75", "pub_rec_bankruptcies",
    "tax_liens", "tot_hi_cred_lim", "total_bal_ex_mort", "total_bc_limit",
    "total_il_high_credit_limit", "hardship_flag", "debt_settlement_flag"
]

target = ["loan_status"]

In [7]:
# Load the data
file_path = Path('LoanStats_2019Q1.csv')
df = pd.read_csv(file_path, skiprows=1)[:-2]
df = df.loc[:, columns].copy()

# Drop the null columns where all values are null
df = df.dropna(axis='columns', how='all')

# Drop the null rows
df = df.dropna()

# Remove the `Issued` loan status
issued_mask = df['loan_status'] != 'Issued'
df = df.loc[issued_mask]

# convert interest rate to numerical
df['int_rate'] = df['int_rate'].str.replace('%', '')
df['int_rate'] = df['int_rate'].astype('float') / 100


# Convert the target column values to low_risk and high_risk based on their values
x = {'Current': 'low_risk'}   
df = df.replace(x)

x = dict.fromkeys(['Late (31-120 days)', 'Late (16-30 days)', 'Default', 'In Grace Period'], 'high_risk')    
df = df.replace(x)

df.reset_index(inplace=True, drop=True)

df.head()

   loan_amnt  int_rate  ...  hardship_flag debt_settlement_flag
0    10500.0    0.1719  ...              N                    N
1    25000.0    0.2000  ...              N                    N
2    20000.0    0.2000  ...              N                    N
3    10000.0    0.1640  ...              N                    N
4    22000.0    0.1474  ...              N                    N

[5 rows x 86 columns]

# Split the Data into Training and Testing

In [8]:
# Encoding the columns with pd.get_dummies() to numerical data 
encoding_col= pd.get_dummies(df, columns = ['home_ownership', 'verification_status', 'pymnt_plan', 'hardship_flag', 'debt_settlement_flag', 'initial_list_status','application_type'])
encoding_col.head()
encoding_col.columns

Index(['loan_amnt', 'int_rate', 'installment', 'annual_inc', 'issue_d',
       'loan_status', 'dti', 'delinq_2yrs', 'inq_last_6mths', 'open_acc',
       'pub_rec', 'revol_bal', 'total_acc', 'out_prncp', 'out_prncp_inv',
       'total_pymnt', 'total_pymnt_inv', 'total_rec_prncp', 'total_rec_int',
       'total_rec_late_fee', 'recoveries', 'collection_recovery_fee',
       'last_pymnt_amnt', 'next_pymnt_d', 'collections_12_mths_ex_med',
       'policy_code', 'acc_now_delinq', 'tot_coll_amt', 'tot_cur_bal',
       'open_acc_6m', 'open_act_il', 'open_il_12m', 'open_il_24m',
       'mths_since_rcnt_il', 'total_bal_il', 'il_util', 'open_rv_12m',
       'open_rv_24m', 'max_bal_bc', 'all_util', 'total_rev_hi_lim', 'inq_fi',
       'total_cu_tl', 'inq_last_12m', 'acc_open_past_24mths', 'avg_cur_bal',
       'bc_open_to_buy', 'bc_util', 'chargeoff_within_12_mths', 'delinq_amnt',
       'mo_sin_old_il_acct', 'mo_sin_old_rev_tl_op', 'mo_sin_rcnt_rev_tl_op',
       'mo_sin_rcnt_tl', 'mort_acc', 'mths_since_recent_bc',
       'mths_since_recent_inq', 'num_accts_ever_120_pd', 'num_actv_bc_tl',
       'num_actv_rev_tl', 'num_bc_sats', 'num_bc_tl', 'num_il_tl',
       'num_op_rev_tl', 'num_rev_accts', 'num_rev_tl_bal_gt_0', 'num_sats',
       'num_tl_120dpd_2m', 'num_tl_30dpd', 'num_tl_90g_dpd_24m',
       'num_tl_op_past_12m', 'pct_tl_nvr_dlq', 'percent_bc_gt_75',
       'pub_rec_bankruptcies', 'tax_liens', 'tot_hi_cred_lim',
       'total_bal_ex_mort', 'total_bc_limit', 'total_il_high_credit_limit',
       'home_ownership_ANY', 'home_ownership_MORTGAGE', 'home_ownership_OWN',
       'home_ownership_RENT', 'verification_status_Not Verified',
       'verification_status_Source Verified', 'verification_status_Verified',
       'pymnt_plan_n', 'hardship_flag_N', 'debt_settlement_flag_N',
       'initial_list_status_f', 'initial_list_status_w',
       'application_type_Individual', 'application_type_Joint App'],
      dtype='object')

In [9]:
# # Create our target
y = encoding_col['loan_status']

# Create our features
X = encoding_col.drop(['loan_status','issue_d', 'next_pymnt_d'], axis ='columns')

In [10]:
X.describe()

          loan_amnt  ...  application_type_Joint App
count  68817.000000  ...                68817.000000
mean   16677.594562  ...                    0.139660
std    10277.348590  ...                    0.346637
min     1000.000000  ...                    0.000000
25%     9000.000000  ...                    0.000000
50%    15000.000000  ...                    0.000000
75%    24000.000000  ...                    0.000000
max    40000.000000  ...                    1.000000

[8 rows x 90 columns]

In [11]:
# Check the balance of our target values
y.value_counts()

low_risk     68470
high_risk      347
Name: loan_status, dtype: int64

In [12]:
from sklearn.model_selection import train_test_split
X_test, X_train, y_test, y_train = train_test_split(X, y, random_state =1)

In [13]:
# Scaling the training set 
scaler = StandardScaler()

# fitting the standard scaler with the training data 
X_scaler = scaler.fit(X_train)

# Scaling the data 
X_train_scaled = X_scaler.transform(X_train)
X_test_scaled = X_scaler.transform(X_test)

# Ensemble Learners

In this section, you will compare two ensemble algorithms to determine which algorithm results in the best performance. You will train a Balanced Random Forest Classifier and an Easy Ensemble AdaBoost classifier . For each algorithm, be sure to complete the folliowing steps:

1. Train the model using the training data. 
2. Calculate the balanced accuracy score from sklearn.metrics.
3. Print the confusion matrix from sklearn.metrics.
4. Generate a classication report using the `imbalanced_classification_report` from imbalanced-learn.
5. For the Balanced Random Forest Classifier onely, print the feature importance sorted in descending order (most important feature to least important) along with the feature score

Note: Use a random state of 1 for each algorithm to ensure consistency between tests

### Balanced Random Forest Classifier

In [14]:
# Resample the training data with the BalancedRandomForestClassifier
rf_model = BalancedRandomForestClassifier(n_estimators=100, random_state=1)

In [15]:
# Fit the model with the training set 
rf_model = rf_model.fit(X_train_scaled, y_train)

# creating predictions 
rf_predict = rf_model.predict(X_test_scaled)

In [16]:
# Calculated the balanced accuracy score
balanced_accuracy_score(y_test, rf_predict)

0.6840576427607519

In [17]:
# Display the confusion matrix
cm = confusion_matrix(y_test, rf_predict)
cm

array([[  125,   121],
       [ 7192, 44174]])

In [18]:
# Print the imbalanced classification report
report = classification_report_imbalanced(y_test, rf_predict)
print(report)

                   pre       rec       spe        f1       geo       iba       sup

  high_risk       0.02      0.51      0.86      0.03      0.66      0.42       246
   low_risk       1.00      0.86      0.51      0.92      0.66      0.45     51366

avg / total       0.99      0.86      0.51      0.92      0.66      0.45     51612

In [18]:
# List the features sorted in descending order by feature importance
importance = rf_model.feature_importances_
importance

array([9.20446650e-03, 1.12530759e-02, 1.38475530e-02, 1.80235879e-02,
       1.35682524e-02, 3.47486672e-03, 5.85251346e-03, 1.03331662e-02,
       1.45108416e-03, 1.61740156e-02, 8.72428292e-03, 1.51792041e-02,
       1.83956276e-02, 5.52784501e-02, 9.19713184e-02, 9.94541151e-02,
       6.27416626e-02, 1.41538025e-02, 0.00000000e+00, 0.00000000e+00,
       7.35782000e-02, 0.00000000e+00, 0.00000000e+00, 0.00000000e+00,
       6.14848439e-03, 1.46559186e-02, 5.23713651e-03, 6.70171937e-03,
       3.93356470e-03, 6.00207581e-03, 9.67857816e-03, 1.50220870e-02,
       1.12272439e-02, 4.12441623e-03, 8.10908197e-03, 1.37529675e-02,
       1.04672042e-02, 1.26039658e-02, 8.64657228e-03, 7.82144405e-03,
       8.10610626e-03, 7.04387451e-03, 1.34530946e-02, 1.93770570e-02,
       1.29328746e-02, 3.88240369e-05, 0.00000000e+00, 1.82139456e-02,
       2.05868485e-02, 1.09414369e-02, 8.80604839e-03, 7.85667751e-03,
       1.08959368e-02, 7.54393793e-03, 3.57463160e-03, 6.28699911e-03,
       1.28296846e-02, 6.53831647e-03, 6.86437066e-03, 7.34431017e-03,
       5.77280831e-03, 8.81143398e-03, 7.73182394e-03, 1.08551331e-02,
       0.00000000e+00, 0.00000000e+00, 1.76210371e-03, 6.66372288e-03,
       6.92558579e-03, 3.65733938e-03, 3.06901891e-03, 0.00000000e+00,
       1.43142307e-02, 1.38700941e-02, 1.37760703e-02, 1.07192685e-02,
       8.58703030e-04, 9.07217998e-04, 2.06641135e-03, 1.16267542e-03,
       2.09131415e-03, 1.69723961e-03, 2.88087415e-03, 0.00000000e+00,
       0.00000000e+00, 0.00000000e+00, 1.34676499e-03, 1.33021333e-03,
       8.89841182e-04, 8.13430492e-04])

In [19]:
# sorting the list of feature importance
sorted(zip(rf_model.feature_importances_, X.columns), reverse=True)

[(0.09945411510016632, 'total_rec_prncp'),
 (0.0919713183580638, 'total_pymnt_inv'),
 (0.07357820003001393, 'last_pymnt_amnt'),
 (0.06274166258688144, 'total_rec_int'),
 (0.05527845012186582, 'total_pymnt'),
 (0.02058684847892605, 'mo_sin_old_rev_tl_op'),
 (0.01937705703073065, 'bc_open_to_buy'),
 (0.018395627550028645, 'out_prncp_inv'),
 (0.01821394563206145, 'mo_sin_old_il_acct'),
 (0.018023587852903138, 'annual_inc'),
 (0.016174015557362885, 'revol_bal'),
 (0.015179204131179777, 'out_prncp'),
 (0.015022087023832594, 'total_bal_il'),
 (0.014655918582051923, 'tot_cur_bal'),
 (0.014314230707828559, 'tot_hi_cred_lim'),
 (0.01415380249652146, 'total_rec_late_fee'),
 (0.013870094111222026, 'total_bal_ex_mort'),
 (0.013847552981747849, 'installment'),
 (0.01377607031036911, 'total_bc_limit'),
 (0.013752967539394525, 'max_bal_bc'),
 (0.013568252396314073, 'dti'),
 (0.013453094564428747, 'avg_cur_bal'),
 (0.012932874567807886, 'bc_util'),
 (0.012829684615136004, 'num_actv_rev_tl'),
 (0.01260396577197998, 'total_rev_hi_lim'),
 (0.011253075939393375, 'int_rate'),
 (0.011227243880710152, 'il_util'),
 (0.010941436872344999, 'mo_sin_rcnt_rev_tl_op'),
 (0.010895936846752741, 'mths_since_recent_bc'),
 (0.010855133108587886, 'num_sats'),
 (0.010719268451742385, 'total_il_high_credit_limit'),
 (0.010467204175010474, 'all_util'),
 (0.010333166160565925, 'open_acc'),
 (0.0096785781563527, 'mths_since_rcnt_il'),
 (0.009204466503763607, 'loan_amnt'),
 (0.008811433981242496, 'num_rev_accts'),
 (0.008806048386144938, 'mo_sin_rcnt_tl'),
 (0.008724282918677303, 'total_acc'),
 (0.008646572283077818, 'inq_fi'),
 (0.008109081965999848, 'open_rv_24m'),
 (0.008106106258892097, 'inq_last_12m'),
 (0.007856677506756136, 'mort_acc'),
 (0.007821444050430039, 'total_cu_tl'),
 (0.007731823937233797, 'num_rev_tl_bal_gt_0'),
 (0.0075439379308461394, 'mths_since_recent_inq'),
 (0.007344310169112815, 'num_il_tl'),
 (0.0070438745087064315, 'acc_open_past_24mths'),
 (0.00692558579166318, 'pct_tl_nvr_dlq'),
 (0.006864370658410545, 'num_bc_tl'),
 (0.0067017193710176125, 'open_act_il'),
 (0.006663722875516562, 'num_tl_op_past_12m'),
 (0.006538316468487843, 'num_bc_sats'),
 (0.006286999108515969, 'num_actv_bc_tl'),
 (0.00614848438916667, 'tot_coll_amt'),
 (0.006002075810313509, 'open_il_24m'),
 (0.005852513461542944, 'inq_last_6mths'),
 (0.005772808310433813, 'num_op_rev_tl'),
 (0.00523713651187945, 'open_acc_6m'),
 (0.004124416225928522, 'open_rv_12m'),
 (0.0039335646959953695, 'open_il_12m'),
 (0.0036573393755898785, 'percent_bc_gt_75'),
 (0.003574631604561638, 'num_accts_ever_120_pd'),
 (0.0034748667225417977, 'delinq_2yrs'),
 (0.003069018911093215, 'pub_rec_bankruptcies'),
 (0.0028808741519128706, 'verification_status_Verified'),
 (0.0020913141534183474, 'verification_status_Not Verified'),
 (0.002066411345459969, 'home_ownership_OWN'),
 (0.0017621037064039385, 'num_tl_90g_dpd_24m'),
 (0.0016972396149503568, 'verification_status_Source Verified'),
 (0.0014510841567898175, 'pub_rec'),
 (0.0013467649941679089, 'initial_list_status_f'),
 (0.001330213329927131, 'initial_list_status_w'),
 (0.001162675424242941, 'home_ownership_RENT'),
 (0.0009072179984309314, 'home_ownership_MORTGAGE'),
 (0.0008898411817350022, 'application_type_Individual'),
 (0.0008587030298253547, 'home_ownership_ANY'),
 (0.0008134304919671488, 'application_type_Joint App'),
 (3.8824036946989006e-05, 'chargeoff_within_12_mths'),
 (0.0, 'tax_liens'),
 (0.0, 'recoveries'),
 (0.0, 'pymnt_plan_n'),
 (0.0, 'policy_code'),
 (0.0, 'num_tl_30dpd'),
 (0.0, 'num_tl_120dpd_2m'),
 (0.0, 'hardship_flag_N'),
 (0.0, 'delinq_amnt'),
 (0.0, 'debt_settlement_flag_N'),
 (0.0, 'collections_12_mths_ex_med'),
 (0.0, 'collection_recovery_fee'),
 (0.0, 'acc_now_delinq')]

In [21]:
!pip install --upgrade imblearn sklearn

Requirement already satisfied: imblearn in /usr/local/lib/python3.7/dist-packages (0.0)
Requirement already satisfied: sklearn in /usr/local/lib/python3.7/dist-packages (0.0)
Requirement already satisfied: imbalanced-learn in /usr/local/lib/python3.7/dist-packages (from imblearn) (0.8.1)
Requirement already satisfied: scikit-learn in /usr/local/lib/python3.7/dist-packages (from sklearn) (1.0.2)
Requirement already satisfied: scipy>=0.19.1 in /usr/local/lib/python3.7/dist-packages (from imbalanced-learn->imblearn) (1.4.1)
Requirement already satisfied: joblib>=0.11 in /usr/local/lib/python3.7/dist-packages (from imbalanced-learn->imblearn) (1.1.0)
Requirement already satisfied: numpy>=1.13.3 in /usr/local/lib/python3.7/dist-packages (from imbalanced-learn->imblearn) (1.19.5)
Requirement already satisfied: threadpoolctl>=2.0.0 in /usr/local/lib/python3.7/dist-packages (from scikit-learn->sklearn) (3.0.0)

### Easy Ensemble AdaBoost Classifier

In [ ]:
# Train the EasyEnsembleClassifier
from imblearn.ensemble import EasyEnsembleClassifier

ee_model = EasyEnsembleClassifier(n_estimators=100, random_state=1)

# X_train, X_test, y_train, y_test = train_test_split(X, y, random_state=1)

ee_model.fit(X_train_scaled, y_train)

# creating predictions 
ee_predict = ee_model.predict(X_test_scaled)

# evaluating the model 
ee_cm = confusion_matrix(y_test, ee_predict)

In [ ]:
# Calculated the balanced accuracy score
balanced_accuracy_score(y_test, ee_predict)

In [ ]:
# Display the confusion matrix
ee_cm = confusion_matrix(y_test, ee_predict)
ee_cm

In [ ]:
# Print the imbalanced classification report
report = classification_report(y_test, predictions)
print(report)

There is a bug with EasyEnsembleClassifier. EasyEnsembleClassifier is another technique where the model is trained on different balanced bootstrap samples. The samples are achieved by random undersampling, which is similar to BalancedRandomForest